<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://devlel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>devlel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DevLel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DevLel</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LelandsConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cg5q1ennf1.database.windows.net,1433;Initial Catalog=DevLel_db;User ID=Lelands@cg5q1ennf1;Password=Devm0123" Name="Data Source=tcp:cg5q1ennf1.database.windows.net,1433;Initial Catalog=DevLel_db;User Id=Lelands@cg5q1ennf1;Password=Devm0123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLEXPRESS;Initial Catalog=Lelands;Integrated Security=True;Connect Timeout=0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LelandsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\SQLEXPRESS;Initial Catalog=Lelands;Integrated Security=True;MultipleActiveResultSets=true;Connect Timeout=0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LelandsConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:cg5q1ennf1.database.windows.net,1433;initial catalog=DevLel_db;user id=Lelands@cg5q1ennf1;password=Devm0123;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>